<%- include('header.ejs') %>

<section class="tiles">
    <% galleryData.galleries.forEach(function(gallery) { %>
    <article class="style1">
        <span class="image">
            <img src="images/main_nav/<%= gallery.name %>.jpg" alt="" />
        </span>
        <a href="/gallery/<%= gallery.name %>">
            <div class="content">
                <h2><%= gallery.display_name %></h2>
            </div>
        </a>
    </article>
    <% }); %>
    <article class="style1">
        <span class="image">
            <img src="images/main_nav/in_progress.jpg" alt="" />
        </span>
        <a href="/in_progress">            
            <div class="content">
                <h2>In Progress</h2>
            </div>
        </a>
    </article>
    <article class="style1">
        <span class="image">
            <img src="images/main_nav/about.jpg" alt="" />
        </span>
        <a href="/about">            
            <div class="content">
                <h2>The Artist</h2>
            </div>
        </a>
    </article>    
</section>

<%- include('footer.ejs') %>