<% include header.ejs %>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2><%= info.display_name %></h2>
        <p><i><%= info.medium %></i></p>
        <p><%= info.description %></p>
        <ul class="piece-gallery-ul">
            <% for(var i = 0; i < gallery.length; i++) { %>
                <li class="piece-gallery-li">
                    <a href="../<%= name %>/<%= gallery[i] %>" data-lightbox="gallery">
                        <img src="../<%= name %>/<%= gallery[i] %>" />
                    </a>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>

<% include footer.ejs %>