<%- include('header.ejs') %>

<h4 class="raleway"><%= piece.display_name %> (<%= piece.scientific_name %>) - <%= piece.medium %></h4>

<section class="tiles">        
    <% images.forEach(function(image) { %>
    <article class="style1">
        <span class="image">
            <img src="/pieces/<%= gallery.name %>/<%= piece.name %>/<%= image %>" alt="" />
        </span>
        <a href="/pieces/<%= gallery.name %>/<%= piece.name %>/<%= image %>" data-lightbox="gallery">            
        </a>
    </article>
    <% }); %>
</section>

<%- include('footer.ejs') %>